.recycler-card {
  background: #fff;
  border-radius: 15px;
  border: 1px solid var(--border);
  padding: 16px 24px;
}

.img-profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card-info {
  border-bottom: 1px solid var(--border);
}

.btn-secondary {
  background-color: rgb(223, 223, 223);
  font-weight: 500;
}

.btn-secondary:hover {
  background-color: rgb(231, 231, 231);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: var(--light-green);
  border-radius: 50%;
}

.small {
  color: var(--light-font);
  display: block;
}

.contact-data {
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}
