.card {
  border-radius: 20px;
}

.card:hover {
  box-shadow: 5px 5px 16px -5px rgba(0, 0, 0, 0.20);
  transition: all .5s;
}

.card-title {
  font-weight: 400;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px 0 0 20px;
}

.locale {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-success {
  background-color: var(--green);
  color: #fff;
  font-weight: 500;
  border: none;
}

.btn-success:hover {
  background-color: var(--btn-hover);
  color: #fff;
}
