:root {
  --green: #16a34a;
  --light-green: #dcfce7;
  --light-font: #78716c;
  --black: #1c1917;
  --border: #0000001a;
  --green-font: #166534;
  --bg-color: #fafaf9;
  --btn-hover: #0ab348;
  --title-size: 36px;
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  background: var(--bg-color);
  font-family: var(--font-sans);
}

h1 {
  color: var(--black);
  font-size: var(--title-size);
}

p {
  color: var(--light-font);
}